Use this notebook to convert text2sql dataset in the format expected for rlvr

In [ ]:
!pip install pyarrow

In [40]:
import pandas as pd
dataset = pd.read_parquet('/home/ubuntu/One-Shot-RLVR-Codes/data/test/math500.parquet', engine='pyarrow')

In [41]:
dataset.head()

,data_source,prompt,ability,reward_model,extra_info
0,simplerl/math500,"[{'content': 'Convert the point $(0,3)$ in rec...",math,"{'ground_truth': '\left( 3, \frac{\pi}{2} \rig...","{'index': 0, 'level': '2', 'solution': 'We hav..."
1,simplerl/math500,[{'content': 'Define \[p = \sum_{k = 1}^\infty...,math,"{'ground_truth': 'p - q', 'style': 'rule'}","{'index': 1, 'level': '5', 'solution': 'We cou..."
2,simplerl/math500,"[{'content': 'If $f(x) = \frac{3x-2}{x-2}$, wh...",math,"{'ground_truth': '\frac{14}{3}', 'style': 'rule'}","{'index': 2, 'level': '3', 'solution': '$f(-2)..."
3,simplerl/math500,[{'content': 'How many positive whole-number d...,math,"{'ground_truth': '9', 'style': 'rule'}","{'index': 3, 'level': '3', 'solution': 'First ..."
4,simplerl/math500,[{'content': 'The results of a cross-country t...,math,"{'ground_truth': '\text{Evelyn}', 'style': 'ru...","{'index': 4, 'level': '2', 'solution': 'Evelyn..."

In [16]:
dataset['prompt'][10]

array([{'content': "Suppose we flip four coins simultaneously: a penny, a nickel, a dime, and a quarter.  What is the probability that at least 15 cents worth of coins come up heads? Let's think step by step and output the final answer within \\boxed{}.", 'role': 'user'}],
      dtype=object)

In [12]:
import json

In [14]:
text2sql_data_path = 'data/sft_spider_syn_text2sql.json'
text2sql_data = pd.read_json(text2sql_data_path)

In [15]:
text2sql_data.head()

,db_id,db_path,schema,question,evidence,text,sql,table_labels,column_labels,matched_contents,source
0,department_management,./data/sft_data_collections/spider/database/de...,"{'schema_items': [{'table_name': 'department',...",How many heads of the departments are older th...,,How many heads of the departments are older th...,SELECT count(*) FROM head WHERE age > 56,"[0, 1, 0]","[[0, 0, 0, 0, 0, 0], [0, 0, 0, 1], [0, 0, 0]]",{},spider-train
1,department_management,./data/sft_data_collections/spider/database/de...,"{'schema_items': [{'table_name': 'department',...","List the name, born state and age of the heads...",,"List the name, born state and age of the heads...","SELECT name , born_state , age FROM head ORD...","[0, 1, 0]","[[0, 1, 0, 0, 0, 0], [0, 1, 1, 1], [0, 0, 0]]",{'department.name': ['State']},spider-train
2,department_management,./data/sft_data_collections/spider/database/de...,"{'schema_items': [{'table_name': 'department',...","List the creation year, name and budget of eac...",,"List the creation year, name and budget of eac...","SELECT creation , name , budget_in_billions ...","[1, 0, 0]","[[0, 1, 1, 0, 1, 0], [0, 1, 0, 0], [0, 0, 0]]",{},spider-train
3,department_management,./data/sft_data_collections/spider/database/de...,"{'schema_items': [{'table_name': 'department',...",What are the maximum and minimum budget of the...,,What are the maximum and minimum budget of the...,"SELECT max(budget_in_billions) , min(budget_i...","[1, 0, 0]","[[0, 0, 0, 0, 1, 0], [0, 0, 0, 0], [0, 0, 0]]",{},spider-train
4,department_management,./data/sft_data_collections/spider/database/de...,"{'schema_items': [{'table_name': 'department',...",What is the average number of employees of the...,,What is the average number of employees of the...,SELECT avg(num_employees) FROM department WHER...,"[1, 0, 0]","[[0, 0, 0, 1, 0, 1], [0, 0, 0, 0], [0, 0, 0]]","{'department.department_id': ['10', '15'], 'de...",spider-train

In [16]:
text2sql_data.head()['schema'][0]

{'schema_items': [{'table_name': 'department',
   'table_comment': '',
   'column_names': ['department_id',
    'name',
    'creation',
    'ranking',
    'budget_in_billions',
    'num_employees'],
   'column_types': ['int', 'text', 'text', 'int', 'real', 'real'],
   'column_comments': ['', '', '', '', '', ''],
   'column_contents': [['1', '2'],
    ['State', 'Treasury'],
    ['1789', '1947'],
    ['1', '2'],
    ['9.96', '11.1'],
    ['30266.0', '115897.0']],
   'pk_indicators': [1, 0, 0, 0, 0, 0]},
  {'table_name': 'head',
   'table_comment': '',
   'column_names': ['head_id', 'name', 'born_state', 'age'],
   'column_types': ['int', 'text', 'text', 'real'],
   'column_comments': ['', '', '', ''],
   'column_contents': [['1', '2'],
    ['Tiger Woods', 'Sergio García'],
    ['Alabama', 'California'],
    ['67.0', '68.0']],
   'pk_indicators': [1, 0, 0, 0]},
  {'table_name': 'management',
   'table_comment': '',
   'column_names': ['department_id', 'head_id', 'temporary_acting'],
   'column_types': ['int', 'int', 'text'],
   'column_comments': ['', '', ''],
   'column_contents': [['2', '7'], ['5', '6'], ['Yes', 'No']],
   'pk_indicators': [1, 2, 0]}],
 'foreign_keys': [['management', 'head_id', 'head', 'head_id'],
  ['management', 'department_id', 'department', 'department_id']]}

In [14]:
!pip install datasets
!pip install transformers
!pip install func_timeout
!pip install ipywidgets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: datasets in /home/ubuntu/.local/lib/python3.10/site-packages (3.6.0)
Requirement already satisfied: numpy>=1.17 in /usr/lib/python3/dist-packages (from datasets) (1.21.5)
Requirement already satisfied: pyarrow>=15.0.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (20.0.0)
Requirement already satisfied: fsspec[http]<=2025.3.0,>=2023.1.0 in /usr/lib/python3/dist-packages (from datasets) (2024.3.1)
Requirement already satisfied: huggingface-hub>=0.24.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (0.33.2)
Requirement already satisfied: pandas in /usr/lib/python3/dist-packages (from datasets) (1.3.5)
Requirement already satisfied: packaging in /usr/lib/python3/dist-packages (from datasets) (21.3)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (0.3.8)
Requirement already satisfied: multiprocess<0.70.17 in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (0.70.16)
Requirement already satisfied: requests>=2.32.2 in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (2.32.4)
Requirement already satisfied: filelock in /usr/lib/python3/dist-packages (from datasets) (3.6.0)
Requirement already satisfied: xxhash in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (3.5.0)
Requirement already satisfied: tqdm>=4.66.3 in /home/ubuntu/.local/lib/python3.10/site-packages (from datasets) (4.67.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/lib/python3/dist-packages (from datasets) (5.4.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/ubuntu/.local/lib/python3.10/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.13)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/lib/python3/dist-packages (from huggingface-hub>=0.24.0->datasets) (4.10.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /home/ubuntu/.local/lib/python3.10/site-packages (from huggingface-hub>=0.24.0->datasets) (1.1.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ubuntu/.local/lib/python3.10/site-packages (from requests>=2.32.2->datasets) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.32.2->datasets) (1.26.5)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.32.2->datasets) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.32.2->datasets) (2020.6.20)
Requirement already satisfied: frozenlist>=1.1.1 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.7.0)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/lib/python3/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (21.2.0)
Requirement already satisfied: propcache>=0.2.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.2)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (5.0.1)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.3.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/ubuntu/.local/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.6.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: transformers in /home/ubuntu/.local/lib/python3.10/site-packages (4.53.0)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /home/ubuntu/.local/lib/python3.10/site-packages (from transformers) (0.21.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/lib/python3/dist-packages (from transformers) (5.4.1)
Requirement already satisfied: numpy>=1.17 in /usr/lib/python3/dist-packages (from transformers) (1.21.5)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in /home/ubuntu/.local/lib/python3.10/site-packages (from transformers) (4.67.1)
Requirement already satisfied: filelock in /usr/lib/python3/dist-packages (from transformers) (3.6.0)
Requirement already satisfied: safetensors>=0.4.3 in /home/ubuntu/.local/lib/python3.10/site-packages (from transformers) (0.5.3)
Requirement already satisfied: requests in /home/ubuntu/.local/lib/python3.10/site-packages (from transformers) (2.32.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.30.0 in /home/ubuntu/.local/lib/python3.10/site-packages (from transformers) (0.33.2)
Requirement already satisfied: regex!=2019.12.17 in /home/ubuntu/.local/lib/python3.10/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /home/ubuntu/.local/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.30.0->transformers) (1.1.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/lib/python3/dist-packages (from huggingface-hub<1.0,>=0.30.0->transformers) (4.10.0)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/lib/python3/dist-packages (from huggingface-hub<1.0,>=0.30.0->transformers) (2024.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests->transformers) (2020.6.20)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/ubuntu/.local/lib/python3.10/site-packages (from requests->transformers) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests->transformers) (1.26.5)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests->transformers) (3.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: func_timeout in /home/ubuntu/.local/lib/python3.10/site-packages (4.3.5)
Defaulting to user installation because normal site-packages is not writeable
Collecting ipywidgets
  Downloading ipywidgets-8.1.7-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.8/139.8 KB 4.4 MB/s eta 0:00:00
Requirement already satisfied: traitlets>=4.3.1 in /usr/lib/python3/dist-packages (from ipywidgets) (5.1.1)
Collecting jupyterlab_widgets~=3.0.15
  Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl (216 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 216.6/216.6 KB 28.2 MB/s eta 0:00:00
Requirement already satisfied: ipython>=6.1.0 in /usr/lib/python3/dist-packages (from ipywidgets) (7.31.1)
Collecting comm>=0.1.3
  Downloading comm-0.2.2-py3-none-any.whl (7.2 kB)
Collecting widgetsnbextension~=4.0.14
  Downloading widgetsnbextension-4.0.14-py3-none-any.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 112.0 MB/s eta 0:00:00
Installing collected packages: widgetsnbextension, jupyterlab_widgets, comm, ipywidgets
Successfully installed comm-0.2.2 ipywidgets-8.1.7 jupyterlab_widgets-3.0.15 widgetsnbextension-4.0.14

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('/home/ubuntu/One-Shot-RLVR-Codes/data/train/one_shot_rlvr/codes_utils/')

In [9]:
from codes_utils.load_sft_dataset import SFTSQLGenerationDataset

In [10]:
from huggingface_hub import login
login('<token>')

In [11]:
from transformers import AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained('bigcode/starcoder')

In [42]:
text2sql_dataset = SFTSQLGenerationDataset('data/sft_spider_syn_text2sql.json', tokenizer, 8192, "train", 6, 10, None)

apply filtering strategies...

filtering schema items for the dataset: 100%|██████████| 1034/1034 [00:00<00:00, 20867.89it/s]

In [43]:
len(text2sql_dataset)

1034

In [44]:
all_lines= []
i = 0
for data_point in text2sql_dataset:
    line = {}
    line['data_source'] = 'text2sql_spider'
    line['prompt'] = [{'content':data_point[0],'role':'user'}]
    line['reward_model'] = {'ground_truth':data_point[1], 'style':'rule'}
    line['ability'] = 'text2sql'
    line['extra_info'] = {'index':i, 'split':'train'}
    all_lines.append(line)
    i+=1

database schema :
table concert , columns = [ concert.stadium_id ( text | values : 1 , 2 ) , concert.year ( text | values : 2014 , 2015 ) , concert.concert_id ( int | primary key | values : 1 , 2 ) , concert.theme ( text | values : Free choice , Free choice 2 ) , concert.concert_name ( text | values : Auditions , Super bootcamp ) ]
table singer_in_concert , columns = [ singer_in_concert.concert_id ( int | primary key | values : 1 , 2 ) , singer_in_concert.singer_id ( text | primary key | values : 2 , 3 ) ]
table singer , columns = [ singer.song_name ( text | values : You , Dangerous ) , singer.is_male ( bool | values : F , T ) , singer.singer_id ( int | primary key | values : 1 , 2 ) , singer.country ( text | values : Netherlands , United States ) , singer.song_release_year ( text | values : 1992 , 2008 ) , singer.name ( text | values : Joe Sharp , Timbaland ) , singer.age ( int | values : 52 , 32 ) ]
table stadium , columns = [ stadium.lowest ( int | values : 1294 , 1057 ) , stadium.average ( int | values : 2106 , 1477 ) , stadium.stadium_id ( int | primary key | values : 1 , 2 ) , stadium.highest ( int | values : 4812 , 2363 ) , stadium.capacity ( int | values : 10104 , 11998 ) , stadium.name ( text | values : Stark's Park , Somerset Park ) , stadium.location ( text | values : Raith Rovers , Ayr United ) ]
foreign keys :
concert.stadium_id = stadium.stadium_id
singer_in_concert.singer_id = singer.singer_id
singer_in_concert.concert_id = concert.concert_id
matched contents : None
How many vocalists do we have?

database schema :
table stadium , columns = [ stadium.name ( text | values : Stark's Park , Somerset Park ) , stadium.location ( text | values : Raith Rovers , Ayr United ) , stadium.stadium_id ( int | primary key | values : 1 , 2 ) , stadium.capacity ( int | values : 10104 , 11998 ) , stadium.highest ( int | values : 4812 , 2363 ) , stadium.lowest ( int | values : 1294 , 1057 ) , stadium.average ( int | values : 2106 , 1477 ) ]
table singer_in_concert , columns = [ singer_in_concert.singer_id ( text | primary key | values : 2 , 3 ) , singer_in_concert.concert_id ( int | primary key | values : 1 , 2 ) ]
table singer , columns = [ singer.singer_id ( int | primary key | values : 1 , 2 ) , singer.song_release_year ( text | values : 1992 , 2008 ) , singer.country ( text | values : Netherlands , United States ) , singer.is_male ( bool | values : F , T ) , singer.name ( text | values : Joe Sharp , Timbaland ) , singer.song_name ( text | values : You , Dangerous ) , singer.age ( int | values : 52 , 32 ) ]
table concert , columns = [ concert.concert_id ( int | primary key | values : 1 , 2 ) , concert.stadium_id ( text | values : 1 , 2 ) , concert.concert_name ( text | values : Auditions , Super bootcamp ) , concert.year ( text | values : 2014 , 2015 ) , concert.theme ( text | values : Free choice , Free choice 2 ) ]
foreign keys :
concert.stadium_id = stadium.stadium_id
singer_in_concert.singer_id = singer.singer_id
singer_in_concert.concert_id = concert.concert_id
matched contents : None
What is the total number of musicians?

In [45]:
import json
text2sql_rlvr= pd.read_json(json.dumps(all_lines))

In [46]:
len(all_lines)

1034

In [47]:
text2sql_rlvr.sample(n=1000,random_state=42).to_parquet('spyder_syn.parquet',engine='pyarrow')

In [39]:
!ls -lh

total 11G
-rw-r--r-- 1 ubuntu ubuntu  34K Jul  3 15:26 'Parquet Viewer.ipynb'
drwxr-xr-x 4 ubuntu ubuntu 4.0K Jul  3 14:46  codes_utils
drwxr-xr-x 3 ubuntu ubuntu 4.0K Feb 27  2024  data
-rw-r--r-- 1 ubuntu ubuntu  11G Feb 27  2024  data.zip
-rw-r--r-- 1 ubuntu ubuntu 204K Jul  3 12:39  dsr_sub.parquet
-rw-r--r-- 1 ubuntu ubuntu 6.6K Jul  3 12:39  merge_pi1_pi13_r128.parquet
-rw-r--r-- 1 ubuntu ubuntu 7.7K Jul  3 12:39  merge_pi1_pi2_pi13_pi1209_r128.parquet
-rw-r--r-- 1 ubuntu ubuntu 6.9K Jul  3 12:39  pi1209_r128.parquet
-rw-r--r-- 1 ubuntu ubuntu 6.2K Jul  3 12:39  pi13_r128.parquet
-rw-r--r-- 1 ubuntu ubuntu 6.6K Jul  3 12:39  pi1_r128.parquet
-rw-r--r-- 1 ubuntu ubuntu 5.4K Jul  3 12:39  pi2_r128.parquet
-rw-r--r-- 1 ubuntu ubuntu 634K Jul  3 15:26  spyder_sub.parquet

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)